<!DOCTYPE html>
<html lang="en">

<head>
<link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Bungee+Spice&display=swap" rel="stylesheet">
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Création d'Aventurier</title>
    <link rel="stylesheet" href="/static/style.css">
</head>

<body>
    <h1>page de création d'aventurier</h1>
    <br>
    <br>
    <a href="/create">Créer un nouvel aventurier</a><br>
    <br>
    <a href="/profil">Voir les aventuriers existants</a>
</body>

</html>
