{{define "modify.html"}}
<!DOCTYPE html>
<html lang="en">

<head>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Bungee+Spice&display=swap" rel="stylesheet">
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/static/stylecrea.css">
    <title>Modifier l'Aventurier</title>
</head>

<body>
    <h1>Modifier l'Aventurier</h1>
    <form action="/modify" method="post">
        <input type="hidden" name="id" value="{{.ID}}">
        
        <label for="nom">Nom:</label>
        <input type="text" name="nom" value="{{.Nom}}" required><br>

        <label for="classe">Classe:</label>
        <input type="text" name="classe" value="{{.Classe}}" required><br>

        <label for="niveau">Niveau:</label>
        <input type="number" name="niveau" value="{{.Niveau}}" required><br>

        <label for="pointVie">Points de vie:</label>
        <input type="number" name="pointVie" value="{{.PointVie}}" required><br>

        <input type="submit" value="Enregistrer les modifications">
    </form>
    <a href="/profil">Retour à la liste des aventuriers</a>
</body>

</html>
{{end}}